[core]
	excludesfile = /Users/katayama/.gitignore_global
[user]
	name = Noboru Katayama
	email = katayama@rs.tus.ac.jp
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
[init]
	defaultBranch = main
[pull]
	rebase = false
